/* This assumes that common.css has already been linked. */

.carambola-big {
	font-size: 25pt;
}

.carambola-download p {
	margin: 0;
}

.carambola-download {
	float: right;
	max-width: 40%;
	padding: 0.75em;
}

.carambola-download-box {
	padding: 1em;
	border-radius: 0.2em;
	background: #1b56ca;
	color: #fff;
	overflow: auto;
	margin-bottom: 0.75em;
}

.carambola-android {
	background: #45bc95;
}

.carambola-web {
	background: #456dbc;
}

.carambola-download-left {
	float: left;
	width: 50px;
}

.carambola-download-right {
	float: right;
	width: calc(100% - 50px);
}
