/* Carambola Website CSS */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Ubuntu:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

/* Remove default padding */
* { margin: 0; padding: 0; }

h1, h2, h3, h4, p, li {
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	margin-bottom: 0.5em;
}

h1 { font-size: 42pt; }
h2 { font-size: 28pt; }
h3 { font-size: 22pt; }
h4 { font-size: 18pt; }
p, ul { font-size: 12pt; margin-bottom: 0.75em; }
ul { margin-left: 1em; }
.cb-quote { font-size: 20pt; line-height: 1.5; }

a {
	color: #45a8bc;
	text-decoration: none;
	border-radius: 0.2em;
}

a:hover {
	background: #45a8bc3a;
}

::selection {
	background: #45a8bc;
	color: #fff;
}

body {
	background-image: url("./bg.jpeg");
	background-size: 100%;
	background-attachment: fixed;
	color: rgb(0, 0, 0);
}

.main-section {
	border: none;
	background: #ffffffe8;
	max-width: 60em;
	margin: auto;
	margin-top: 0;
	padding: 1em;
	border-radius: 0.25em;
}

.navbar-section {
	background: #0000006f;
	border: none;
	border-radius: 0.325em;
	color: #fff;
	padding: 1em;
	margin: auto;
	margin-top: 1em;
	max-width: 60em;
}

.cb-top-item {
	margin-right: 1.0em;
	font-family: "Ubuntu", sans-serif;
	font-size: 14pt;
	display: inline-block;
	vertical-align: middle;
}

.cb-logo-item {
	margin-right: 2em;
	font-family: "Ubuntu", sans-serif;
	font-size: 18pt;
	display: inline-block;
	vertical-align: middle;
}

.bottom-section {
	background: #0009;
	text-align: center;
	text-shadow: 0em 0em 0.3em #000;
	padding: 2em;
	color: #fff;
	margin-top: 1.5em;
}

.bottom-section p, .notice-section p {
	margin: 0;
}

.beta-tag {
	background: #fc4744;
	color: #fff;
	border-radius: 0.2em;
	padding: 0.2em;
	text-transform: uppercase;
	font-weight: 700;
}

.nc-top {
	border-radius: 0 0 0.325em 0.325em;
}

.nc-bottom {
	border-radius: 0.325em 0.325em 0 0;
}

/* For new navbar */
.main-dark {
	background: rgb(30, 30, 30);
	border: 0.0625em solid rgb(50, 50, 50);
	color: #fff;
}

.top-section {
	border-top: none;
	border-radius: 0 0 0.325em 0.325em;
	margin-top: 0;
	vertical-align: middle;
	max-width: 50em;
}

.top-item {
	margin-right: 1.0em;
	font-family: "Kumbh Sans", sans-serif;
	font-size: 14pt;
	display: inline-block;
	vertical-align: middle;
}
